body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, span, i {
  margin: 0;
}

.login-active {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  transition: .4s;
  display: block;
  z-index: -1;
}